.shows-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 100px;

  &-group {
    display: flex;
    flex-direction: column;
    &-title {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
    &-items {
      margin-top: 12px;
      display: flex;
      width: 100%;
      height: 400px;

      @include not-mini {
        height: 400px;
      }
      @include not-tablet {
        height: 340px;
      }

      @include phone {
        height: 310px;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      cursor: pointer;
      transition: ease all 150ms;

      &:hover {
        transform: scale(1.05) translateY(5px);
      }
      &-image {
        width: 100%;
        padding-bottom: 150%;
        background-position: center;
        background-size: cover;
      }
      &-title {
        font-size: 14px;
        color: #fff;
        margin-top: 5px;
      }
      &-rating {
        color: #fff;
        opacity: 0.6;
        font-size: 14px;
        margin-top: 2px;
      }

      &.loading > & {
        &-image {
          width: 100%;
          padding-bottom: 150%;
          background: #333;
        }
        &-title {
          background: #252525;
          width: 40%;
        }
        &-rating {
          background: #212121;
          width: 20%;
        }
      }
    }
  }
}

.swiper-container {
  overflow: visible !important;
}

.swiper-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 50;
  cursor: pointer;
  background: rgb(17, 17, 17);

  height: 110%;
  width: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: ease all 250ms;
  @include mini {
    opacity: 1;
  }
  &-prev {
    right: 100%;
    justify-content: flex-end;
    background: linear-gradient(
      270deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 1) 15%
    );
    img {
      margin-right: -10px;
    }
  }
  &-next {
    left: 100%;
    justify-content: flex-start;
    background: linear-gradient(
      90deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 1) 15%
    );
    img {
      margin-left: -10px;
    }
  }
  img {
    width: 70px;
    height: 70px;
    opacity: 0.8;
  }
  &.swiper-button-disabled {
    opacity: 0;
  }
}
